/* ✅ IMPORTS SIEMPRE DESPUÉS de Tailwind */
@import "./styles/header35.css";
@import "./styles/services35.css";
@import "./styles/keyframes35.css";
@import "./styles/about-us.css";
@import "./styles/keyframe-about-us.css";
@import "./styles/testimonial.css";
@import "./styles/contact.css";
@import "./styles/profile-optimization35.css";
@import "./styles/whatsapp35.css";
@import "./styles/hero.css";
@import "./styles/manifest35.css";
@import "./styles/trusted35.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
}